<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>

<div class="row">
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :category %>
	</div>
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :title %>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :author %>
	</div>
	<div class="col-lg-6">
		<%= casein_date_select f, f.object, :date %>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
    <%= casein_text_area f, f.object, :story, rows: 8, :id => "eg-textarea", :class => "text-small" %>
    <script>
// Create a YUI sandbox on your page.
YUI().use('node', 'event', function (Y) {
    // The Node and Event modules are loaded and ready to use.
    // Your code goes here!
});
</script>
	</div>
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :image %>
	</div>
	<div class="col-lg-6"><h5>HTML is valid in stories.</h5>
	<p>
		'strong' is <strong>bold</strong><br>
    'br' is a line break<br>
	</p>
	<%= hidden_field(:story_id, :tag_list) %>
	</div>
</div>
