<div class="row">
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :tag, :class => "form-control", :id => "disabledInput" %>
	</div>
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :title %>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<%= casein_text_field f, f.object, :author %>
	</div>
	<div class="col-lg-6">
		<%= casein_date_select f, f.object, :date %>
	</div>
</div>

<div class="row"> 
	<div class="col-lg-12"> 
		<%= f.label 'Story' %> 
		<%= f.cktext_area :story, rows: 8 %> 
	</div> 
</div> 
<div class="row"> 
	<div class="col-lg-6"> 
		<%= casein_text_field f, f.object, :image %> 
	</div> 
	<div class="col-lg-6"> 
		<h5>Code is valid in stories.</h5> 
		<p>To add custom HTML, CSS or JS, click the source button in the top left. Here you can add custom code.</p> 
		<%= hidden_field(:story_id, :tag_list) %> 
	</div> 
</div>