<% content_for :title, @story.title %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-md-6">
    	<h1><%== @story.title %></h1>
      <h3><small>By <%== @story.author %> on <%== @story.date.strftime("%B %e, %Y") %></small></h3>
    </div>
    <div class="col-xs-8 col-md-6">
      <%= image_tag(@story.image, :size => "180X100", :crop => :fill) %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-10">
    	<p class="text-centered"><%== simple_format(@story.story) %></p>
    </div>
  </div>
  <div class="col-md-8">
  <nav>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'binnacle';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

  </div>
</div>