<div class="container">
	<h2>Cal Maritime Watch Bills</h2>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
		<%= button_to 'Watch Rotation Schedule', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydGYyMWpZT0RzNHJwSHQxQVVfcTh1NVE", :type => 'button', :class => 'btn btn-default btn-lg btn-block', :target =>'_blank' %>
		</div>
	</div>
	<br><br>
	<div class="col-md-4">
		<h4>Engine Company</h4>
		<div class="list-group">
			<%= link_to 'Engine 1', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydDFVUDB4NFVhOU82dFItMEtKMzRXUUE", :class => 'list-group-item', :target => "-_blank" %>
			<%= link_to 'Engine 2', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydEFYMzVpcXp5elpvcUhndVh6Q1JNSWc", :class => 'list-group-item', :target => "-_blank" %>
			<%= link_to 'Engine 3', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydDRGSmV3VnBRTGtzWDZQa2FKd3lBNlE", :class => 'list-group-item', :target => "-_blank" %>
			<%= link_to 'Engine 4', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydEZTQ0IyeDAyNG9QeUVrRDFuRE5qNlE", :class => 'list-group-item', :target => "-_blank" %>
		</div>
	</div>
	<div class="col-md-4">
		<h4>Deck Company</h4>
			<div class="list-group">
				<%= link_to 'Deck 1', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydHBFcUVfcHpOMm1EQ3plVVFMSUZNSkE", :class => 'list-group-item', :target => "-_blank" %>
				<%= link_to 'Deck 2', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydExOT2lCMVBWbTRaTEZmT3BfT1c2RGc", :class => 'list-group-item', :target => "-_blank" %>
				<%= link_to 'Deck 3', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydE9aX2NCcFdianAtVXdrRjZUdUhHNGc", :class => 'list-group-item', :target => "-_blank" %>
				<%= link_to 'Deck 4', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydFhiYzJXVzZrRTJDMWdDeUZtWHBTN0E", :class => 'list-group-item', :target => "-_blank" %>
		</div>
	</div>
	<div class="col-md-4">
		<h4>MPM Company</h4>
		<div class="list-group">
			<%= link_to 'MPM 1', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydHROWm1yTnRrN2lGeHFpeVdDV01ZZGc", :class => 'list-group-item', :target => "-_blank" %>
			<%= link_to 'MPM 2', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydEl6Sm41eFlGQmVreWtNYW1BdDJmZlE", :class => 'list-group-item', :target => "-_blank" %>
			<%= link_to 'MPM 3', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydHdGOHZ1LS1hRWlFdkZDZWF0OWlkZ1E", :class => 'list-group-item', :target => "-_blank" %>
			<%= link_to 'MPM 4', "https://docs.google.com/spreadsheet/ccc?key=0At6vUma9vnHydHZYa1IyTjlhczRwVGxrM2ptLVdkZXc", :class => 'list-group-item', :target => "-_blank" %>
		</div>
	</div>
</div>